:root {
    --theme-environmental-background: rgb(172, 125, 86);
    --theme-environmental-tableheader: rgb(85, 146, 62);
    
}

/* PROJECT PAGE */

.project-skill-list {
    display: flex;
    flex-wrap: wrap;
}

.project-skill {
    background-color: blue;
    color: white;
    margin-inline: 2px;
    padding: 2px 5px;
    border: 1px solid black;
    border-radius: 10px;
}

.project-area {
    background-color: brown;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3vw;
    width: 92vw;
}

.project-img {
    background-color: yellow;
    border-radius: 15px;
}

.project-panel {
    background-color: green;
    border-radius: 15px;
    height: fit-content;
}

.project-img > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 300px;
    width: 40vw;
    object-fit: contain;
}

.project-title {
    display: block;
    font-weight: 600;
}

.project-content {
    padding: 10px;
}

.project-action {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 641px) {
    body {
        background-color: blanchedalmond;
        font-size: large;
    }
    .project-area {
        grid-template-columns: 1fr;
    }
    .project-img > img {
        width: 92vw;
        object-fit: contain;
    }
}

@media screen and (min-width: 641px) and (max-width: 930px) {
    body {
        background-color: lightgray;
        font-size: medium;
    }
}