:root {
    --theme-env-background: rgb(172, 125, 86);
    --theme-env-tableheader: rgb(85, 146, 62);
    
}



/* PROJECT PAGE */
.project-skill-list {
    display: flex;
    flex-wrap: wrap;
}
.project-skill {
    background-color: blue;
    color: white;
    margin-inline: 2px;
    padding: 2px 5px;
    border: 1px solid black;
    border-radius: 10px;
}
.project-area {
    background-color: brown;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3vw;
    width: 92vw;
}
.project-img {
    background-color: yellow;
    border-radius: 15px;
}
.project-panel {
    background-color: green;
    border-radius: 15px;
    height: fit-content;
}
.project-img > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 300px;
    width: 40vw;
    object-fit: contain;
}
.project-title {
    display: block;
    font-weight: 600;
}
.project-content {
    padding: 10px;
}
.project-action {
    display: flex;
    justify-content: space-evenly;
}

/* WORK EXPERIENCE */
.work-header {
    text-align: center;
    font-size: 32px;
}
.work-panel {
    background-color: fuchsia;
    padding: 10px;
    grid-area: panel;
}
.work-tabs {
    display: flex;
    flex-direction: column;
    background-color: coral;
    grid-area: tabs;
    justify-content: space-evenly;
    padding: 10px;
    border-collapse: collapse;
}
.work-tab-title {
    font-weight: 600;
    font-size: large;
}
.work-tab {
    background-color: honeydew;
    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.work-content {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "company location"
    "role dates"
    "r-list r-list";
    background-color: yellow;
} 
.work-company {
    grid-area: company;
    background-color: green;
    font-weight: 500;
    font-size: large;
}
.work-role {
    grid-area: role;
    background-color: pink;
    font-size: medium;
    font-style: italic;
}
.work-dates {
    grid-area: dates;
    background-color: gray;
    justify-self: right;
}
.work-location {
    grid-area: location;
    background-color: wheat;
    justify-self: right;
}
.work-r-list {
    grid-area: r-list;
    display: flex;
    flex-direction: column;
    background-color: sandybrown;
}
.work-r {
    grid-area: r;
    background-color: brown;
}
.work-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "tabs panel panel panel panel";
    background-color: purple;
    width: 92vw;
}

/* ENV */
h3.env {
    font-family: 'Courier New', Courier, monospace;
}
body.env {
    background-color: var(--theme-env-background);
}
.project-skill.env {
    background-color: blue;
    color: white;
}
.project-area.env {
    background-color: var(--theme-env-tableheader);
}
.project-img.env {
    background-color: yellow;
}
.project-panel.env {
    background-color: green;
}

/* MEDIA QUERIES */
@media screen and (max-width: 641px) {
    body {
        background-color: blanchedalmond;
        font-size: large;
    }
    .project-area {
        grid-template-columns: 1fr;
    }
    .project-img > img {
        width: 92vw;
    }
    .project-skill {
        font-size: small;
    }
}
@media screen and (min-width: 641px) and (max-width: 930px) {
    body {
        background-color: lightgray;
        font-size: medium;
    }
    .project-skill {
        font-size: small;
    }
}