:root {
    --theme-env-background: linear-gradient(56deg, rgba(145,145,145,1) 0%, rgb(19, 54, 22) 100%);
    --theme-env-project-hover: rgba(134, 98, 68, 0.5);
    --theme-env-project-panels:  rgb(70, 70, 70);
    --theme-env-table-background: rgb(70, 70, 70);
    --theme-env-table-accent: rgb(60, 60, 60);
    --theme-env-footer: url("./trees-no-holes.png");
    /* ////////////////////////////////////////////////// */
    --theme-gam-background: rgba(0, 164, 234, 0.9);
    --theme-gam-project-hover: rgb(134, 98, 68);
    --theme-gam-table-background: rgb(85, 146, 62);
    --theme-gam-footer: url("./mario-no-clouds.png");
    /* ////////////////////////////////////////////////// */
    --theme-spo-background: rgba(70, 70, 70, 0.9);
    --theme-spo-project-hover: rgb(134, 98, 68);
    --theme-spo-table-background: rgb(85, 146, 62); 
}

@keyframes themeChangeBackground {
    0% {background-position: 0% 0%}
    50% {background-position: 50% 50%;}
    100% {background-position: 100% 100%;}
} 
@keyframes themeChangeFont {
    0% {color: black}
    100% {color: white}
} 
@keyframes themeChangeFooter {
    0% {translate: 0 150px}
    100% {translate: 0 10px}
} 
@keyframes themeChangeLeftBox {
    0% {translate: -150px 0}
    100% {translate: 0 0}
} 
@keyframes themeChangeNavBar {
    0% {translate: 0px -150px}
    100% {translate: 0 0}
} 
@keyframes birdFlap {
    0% {background-image: url("./bird2.png")}
    50% {background-image: url("./bird2.png")}
    100% {background-image: url("./bird1.png")}
} 
@keyframes floatMove {
    0% {translate: 103vw 0}
    90% {translate: 0vw 0}
    100% {translate: -10vw 0}
} 

/* OVERLAYS */
.footer {
    position: sticky;
    bottom: 0;
    z-index: 2;
}
.left-box {
    z-index: 2;
    animation: themeChangeLeftBox 3s ease 1;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 40%;
    left: 1%;
    width: 75px;
    height: 125px;
    background-color: rgba(157, 157, 157, 0.9);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(52, 52, 52, 0.9);
}
#nav-bar {
    z-index: 2;
    animation: themeChangeNavBar 3s ease 1;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    height: 50px;
    background-color: rgba(157, 157, 157, 0.95);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(52, 52, 52, 0.9);
}
#nav-bar > a {
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 7px;
}
#nav-bar > a:hover {
    background: linear-gradient(90deg, rgba(157, 157, 157, 0) 0%, rgba(100, 100, 100, 0.5) 30%, rgba(100, 100, 100, 0.5) 70%, rgba(157, 157, 157, 0) 100%);
}
.left-box > a > img {
    width: 50px;
}
.left-box > a > img:hover {
    width: 55px;
    cursor: pointer;
}
.themeSwitch {
    margin: 2px;
    padding: 2px;
    font-size: large;
}
.floating1, .floating2, .floating3 {
    position: fixed;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;   
}

/* MAIN PAGE */
.all {
    margin-inline: 15%;
    margin-top: 50px;
}
.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-page > img {
    height: 300px; 
    border-radius: 150px;
    border: 0.5px solid black;
    box-shadow: 0px 0px 25px black;
}
.resume-area {
    text-align: center;
}
.resume-area > a {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
h3 {
    text-align: center;
    font-size: 40px;
}
.themeSwitch > .env:hover {
    cursor: pointer;
    background-color: var(--theme-env-background);
}
.themeSwitch > .gam:hover {
    cursor: pointer;
    background-color: var(--theme-gam-background);
}
.themeSwitch > .spo:hover {
    cursor: pointer;
    background-color: var(--theme-spo-background);
    color: white;
}

/* PROJECT PAGE */
.project-skill-list {
    display: flex;
    flex-wrap: wrap;
}
.project-skill {
    margin: 1px 2px;
    padding: 2px 5px;
    border: 0.5px solid black;
    border-radius: 10px;
}
.project-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3vw;
    row-gap: 1vw;
}
.project-panel {
    border-radius: 15px;
    border: 0.5px solid black;
    height: fit-content;
    box-shadow: 0px 0px 5px black;
    margin-bottom: 10px;
    width: 34vw;
}
.project-img > img {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-height: 200px;
    object-fit: contain;
    width: 34vw;
}
.project-title {
    display: block;
    font-weight: 600;
}
.project-content {
    border-radius: 15px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
.project-action {
    display: flex;
    margin-top: 10px;
    border-top: 1px solid black;
    justify-content: space-around;
}
.project-action > a {
    color: black;
    font-size: 20px;
    margin: 0;
    padding: 0.5rem 3rem;
}

/* WORK EXPERIENCE */
.work-panel {
    padding: 5px 5px 5px 5px;
    grid-area: panel;
    border-radius: 10px;
}
.work-tabs {
    display: flex;
    flex-direction: column;
    grid-area: tabs;
    justify-content: space-evenly;
    padding: 10px;
    border-collapse: collapse;
    border-radius: 10px;
}
.work-tab-title {
    font-weight: 600;
    font-size: large;
}
.work-tab {
    padding: 10px;
    border-top: 1px solid black;
}
.work-tab:last-child {
    border-bottom: 1px solid black;
}
.work-content {
    display: grid;
    padding: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "company location"
    "role dates"
    "r-list r-list";
} 
.work-company {
    grid-area: company;
    font-weight: 500;
    font-size: large;
}
.work-role {
    grid-area: role;
    font-size: medium;
    font-style: italic;
}
.work-dates {
    grid-area: dates;
    justify-self: right;
}
.work-location {
    grid-area: location;
    justify-self: right;
}
.work-r-list {
    padding: 5px;
    grid-area: r-list;
    display: flex;
    flex-direction: column;
}
.work-r {
    grid-area: r;
}
.work-area {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "tabs tabs panel panel panel panel panel";
}

/* ////// */
/* THEMES */
/* ////// */

/* ENV */
.floating1.env, .floating2.env, .floating3.env {
    background-image: url("./bird1.png"); 
}
.floating1.env {
    left: 0;
    top: 50%;
    animation: floatMove 15s 2s linear infinite, birdFlap 1s 2.5s linear infinite alternate;
}
.floating2.env {
    left: 0;
    top: 45%;
    animation: floatMove 15s 1s linear infinite, birdFlap 1s 0.25s linear infinite alternate;
}
.floating3.env {
    left: 0;
    top: 55%;
    animation: floatMove 15s linear infinite, birdFlap 1s linear infinite alternate;
}
h3.env {
    font-family: 'Courier New', Courier, monospace;
}
body.env {
    background: linear-gradient(56deg, rgba(87,205,255,1) 20%, rgba(87,168,255,1) 40%, rgba(19,60,120,1) 50%, rgb(38, 6, 88) 60%, rgb(25, 5, 44) 70%);    
    background-size: 500% 500%;
    color: white;
    animation: themeChangeBackground 15s ease infinite alternate, themeChangeFont 3s ease 1;
    height: 100hv;
}
.project-skill.env {
    background-color: blue;
    color: white;
}
.project-area.env {
    background-color: var(--theme-env-table-background);
}
.project-panel.env {
    background-color: var(--theme-env-table-background);
}
.footer.env {
    animation: themeChangeFooter 3s ease 1;
    translate: 0 10px;
    background: var(--theme-env-footer), -75px var(--theme-env-footer);
    background-size: contain;
    background-repeat: repeat-x;
    height: 150px;
}

/* GAM */
body.gam {
    background: var(--theme-gam-background);
}
.footer.gam {
    background: var(--theme-gam-footer);
    background-size: cover;
    background-repeat: repeat-x;
    height: 150px;
    translate: 0 20px;
}
.floating1.gam {
    background-image: url("./cloud1.png"); 
    left: 0;
    top: 50%;
    animation: floatMove 15s 2s linear infinite;
}
.floating2.gam {
    background-image: url("./cloud2.png"); 
    left: 0;
    top: 45%;
    animation: floatMove 15s 1s linear infinite;
}
.floating3.gam {
    background-image: url("./cloud3.png"); 
    left: 0;
    top: 55%;
    animation: floatMove 15s linear infinite;
}

/* ///////////// */
/* MEDIA QUERIES */
/* ///////////// */

@media screen and (max-width: 641px) {
    body {
        background-color: blanchedalmond;
        font-size: large;
    }
    .project-area {
        grid-template-columns: 1fr;
    }
    .project-skill {
        font-size: small;
    }
}
@media screen and (min-width: 641px) and (max-width: 930px) {
    body {
        background-color: lightgray;
        font-size: medium;
    }
    .project-skill {
        font-size: small;
    }
}